
<div id="about-list-container">
    <div class="about-list-item">
        <p>Latest projects</p>
        <ul>
            <li><a href="/projects/cpr/">Choreographic Plant Room</a></li>
            <li><a href="https://akkon-hochschule.de/kompetenzen-rettungsdienst">IKRD (HHI)</a></li>
            <li><a href="https://www.hhi.fraunhofer.de/abteilungen/vit/projekte/tohyve.html">ToHyVe (HHI)</a></li>
        </ul>
    </div>

    <div class="about-list-item">
        <p>Core competencies</p>
        <ul>
            <li>XR development</li>
            <li>C#, Python, Java</li>
            <li>Unity Game Engine</li>
            <li>Version control</li>
        </ul>
    </div>

    <div class="about-list-item">
        <p>Currently learning</p>
        <ul>
            <li>Computer Vision</li>
            <li>Unreal Engine</li>
            <li>C++</li>
        </ul>
    </div>
</div>