
<div id="about-list-container">
    
    <div class="about-list-item">
        <p>Core competencies</p>
        <ul>
            <li>XR Development</li>
            <li>C#, Python</li>
            <li>Unity Game Engine</li>
            <li>Version Control</li>
        </ul>
    </div>
    
    <div class="about-list-item">
        <p>Latest projects</p>
        <ul>
            <li><a href="https://www.k3vr.de/">K3VR (HHI)</a></li>
            <li><a href="https://akkon-hochschule.de/kompetenzen-rettungsdienst">IKRD (HHI)</a></li>
            <li><a href="/projects/cpr/">Choreographic Plant Room</a></li>
        </ul>
    </div>


    <div class="about-list-item">
        <p>Currently learning</p>
        <ul>
            <li>Computer Vision</li>
            <li>Unreal Engine</li>
            <li>Image Processing</li>
        </ul>
    </div>
</div>