
<div id="about-list-container">
    <div class="about-list-item">
        <p>Currently learning</p>
        <ul>
            <li>Co-located multiplayer in VR</li>
            <li>Data visualization</li>
            <li>C++ (OpenCL and CUDA)</li>
        </ul>
    </div>
    <div class="about-list-item">
        <p>Core competencies</p>
        <ul>
            <li>Unity 3D and C# scripting</li>
            <li>XR development</li>
            <li>Game flow control with FSMs</li>
            <li>Web development</li>
            <li>Version control with Git</li>
        </ul>
    </div>
    <div class="about-list-item">
        <p>Current projects</p>
        <ul>
            <li>ZAUBAR 2.0</li>
            <li>Weaving Dreams (refinement)</li>
        </ul>
    </div>
</div>