<form action="https://api.web3forms.com/submit"
   accept-charset="UTF-8"
   enctype="multipart/form-data"
   method="POST">
    <input type="hidden" name="access_key" value="16ce5844-0ac6-48ec-9cc0-2130d1031e52">
  <fieldset>
        <div class="row">
            <div class="form-group col-xs-12" id="Name__div">
                <label title="required" for="Name">Name *</label><br/>
                <input type="text" name="Name" id="Name" required="required" class="form-control" autocomplete="given-name"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12" id="Email_address__div">
                <label title="required" for="Email_address">Email address *</label><br/>
                <input type="email" name="Email address" id="Email_address" required="required" class="form-control" autocomplete="email"/>
            </div>
        </div>
            <div class="row">
            <div class="form-group col-xs-12" id="Message__div">
                <label title="required" for="Message">Message *</label><br/>
                <textarea name="Message" id="Message" required="required" class="form-control" placeholder="Feel free to write in English, German, Spanish, Italian or even Catalan!"></textarea>
            </div>
        </div>
        <br>
        <div class="h-captcha" data-captcha="true"></div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="Submit" class="btn btn-block btn-primary" data-disable-with="submit" target="__blank" />
            </div>
        </div>
    </fieldset>    
</form>


