---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/css?family=Exo:100);

html, body{
    // font-family: Courier, monospace;
    font-family: exo, "segoe ui", helvetica, arial, sans-serif;
    background: #1D1C22;
}

.wrapper{
    margin-top: 5%;
    width: 90%;
}
header{
    width: 20%;
}
section{
    width: 60%;
}
tr td:first-child{
    font-weight: bold;
}
// content
.container{
    text-align: right;    
}
h1, h2, h3, p, ul, td, strong{
  color: #d0b3d9;

}
h1{
    font-size: 4em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.5em;
}

a{
    color:#B8D8BA;
}
a:hover, a:active, a:visited, a:link{
    color:#96C599;
}


.hidden{
  	display: none;
}
th:first-child{
    width: 8em;
}


//Menu
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


//Other details
::selection{
  background-color: #1D1C22;
  color: #A36AB4;
}

