/*Tablet version - big or landscape*/
@media screen and (max-width : 1400px){
    
#header-wrapper, #about-wrapper, .section-inner-wrapper, #contact-wrapper, .project-section, #four04-wrapper{
    width: 90%;
}
.project-hero-image{
    background-attachment: scroll;
}

#about-wrapper{
    margin-top:5em;
}

}

/*Tablet version*/
@media print, screen and (max-width: 1030px){
    header{
        padding-right: 0;
    }
    .menuContainer{
        border-left: 1px dotted var(--text-color);
        border-right: 0;
    }
    fieldset{
        padding: 0;
    }
    .wrapper{
        margin: auto!important;
    }  
      
    section{
        border:none;
    }
    #about-list-container{
        justify-content: space-evenly;
        gap: 1.5em;
        margin-top: 1em;
    }
    .about-list-item{
        margin: 0;
    }
}

/*Mobile version*/
@media screen and (max-width : 720px){

    #header-wrapper{
        width: 100%;
        padding: 0;
        align-items: self-start; /* Align items to the start of the header */
    }

    .footer-wrapper{
        width: 90%;
    }
    h1{
        font-size: 2.2em;
    }
    h2{
        font-size: 1.7em;
    }

    /* Menu */  
    header .icon {display: block;}   

    #header-wrapper {
    overflow: hidden;
    background-color: var(--header-footer-background);
    position: relative;
    }

    /* Hide the links inside the navigation menu  */
    .menu {
    display: none;
    }
    .menu.open {
    display: block;
    }    

    /* Style navigation menu links */
    .menu a{
    color: var(--background-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }


    /* Style the hamburger menu */
    header .icon {
    display: block;
    z-index: 10;
    color: var(--background-color);
    margin: 1em;
    }

    /* Add a grey background color on mouse-over
    .menu a:hover {
    background-color: #ddd;
    color: black;
    } */
        
    /*content*/

    #about-wrapper, #project-wrapper { margin-top: 5em; }
   .project-header-wrapper, .project-details{
        flex-direction:column;
        align-items: center;
    }
    .project-details{ flex-direction: column-reverse;}
    .project-title{
        text-align: center;
    }
    .project-intro {
        max-width: 100%;
        text-align: center;
    }

    .project-details table{
        max-width: 90%;
    }

    .text-container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .text-content{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    #about{
        flex-direction: column-reverse;
        margin-bottom: 4em;
    }
    #about-list-container{
        flex-direction: column;
        margin: 1em 0;
        gap: 1.5em;
    }
    .about-list-item{
        margin: 0;

    }
    #hero-selfie{
        max-width: 60%;
    }
    

    /*contact*/
    .contact-container{
        flex-direction: column;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    fieldset .row {
        width: 100%;
    }
    fieldset input, textarea, .btn{
        width: 90%;
    }
    .contact-container img{
        margin-top: 1em; 
    }
    .copyright{
        max-width: 50%;
    }
}