---
---

@import "{{ site.theme }}";

html, body{
    font-family: Courier, monospace;
    overflow: hidden;
    background: #1D1C22;
}
.container{
    text-align: right;    
}

.wrapper{
    margin-top: 10%;
}
h1, h2, h3, p, ul{
  color: #d0b3d9;

}
h1{
    font-size: 4em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.5em;
}

a{
    color:#B8D8BA;
}
a:hover{
    color:#96C599;
}


.hidden{
  	display: none;
}


//Menu
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


//Other details
::selection{
  background-color: #1D1C22;
  color: #A36AB4;
}

