/*Tablet version*/
@media print, screen and (max-width: 960px){
    section{
        float: inherit;
    }
}

/*Mobile version*/
@media screen and (max-width : 720px){

    header, section{
        width: auto;
    }
    body{
        padding: 15px;
    }
    .container{
        text-align: left;
    }
    .container h1{
        display: none;
    }

    h1,  .project-redirect{
        font-size: 3em;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 14px;
    }

    /* Menu */
    .menu{
        display:flex;
        justify-content: space-around;
    }
    fieldset{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    fieldset input, textarea{
        width: 90%;
    }
    .btn{
        width: 90%;
    }
}