/*Tablet version - big or landscape*/
@media screen and (max-width : 1400px){
    
#about-wrapper, #projects-wrapper, #contact-wrapper, #project-wrapper, #four04-wrapper{
    width: 90%;
}
#header-wrapper{
    width: 100%;
}
#about-wrapper{
    margin-top:5em;
}

}

/*Tablet version*/
@media print, screen and (max-width: 1030px){
    header{
        padding-right: 0;
    }
    .menuContainer{
        border-left: 1px dotted var(--text-color);
        border-right: 0;
    }
    fieldset{
        padding: 0;
    }
    .wrapper{
        margin: auto!important;
    }  
      
    section{
        border:none;
    }
    #about-list-container{
        justify-content: space-evenly;
        gap: 1.5em;
    }
    .about-list-item{
        margin: 0;
    }
}

/*Mobile version*/
@media screen and (max-width : 720px){

    #header-wrapper{
        width: 100%;
        padding: 0;
    }
    header img{ /*hide logo*/
        display: none;
    }
    .footer-wrapper{
        width: 90%;
    }
    h1{
        font-size: 2.2em;
    }
    h2{
        font-size: 1.7em;
    }
    /* Menu */
    .menuContainer{
        border-left: 0;
    }
    .menu{
        width: 100%;
        display:flex;
        justify-content: space-around;
        padding: 1rem 0;
    }
    .menu a{
        margin: 0;
        padding: 0.3rem;
        font-size: 1em;
    }
    /*content*/
    .text-container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .text-content{
        width: 100%;
        text-align: center;
        padding: 3rem 0;
    }

    #about-list-container{
        flex-direction: column;
        margin: 0 0 3em 0;
        gap: 1.5em;
    }
    .about-list-item{
        margin: 0;
    }
    
    /*contact*/
    .contact-container{
        flex-direction: column;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    fieldset .row {
        width: 100%;
    }
    fieldset input, textarea, .btn{
        width: 90%;
    }
    .contact-container img{
        margin-top: 1em; 
    }
    .copyright{
        max-width: 50%;
    }
}